body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.help-title{
    font-size: 35px;
    font-weight: 800;
    color: gold;
    text-shadow: 5px 5px 5px rgb(12, 12, 12);
}

.help{
    text-decoration: none;
    background-image: linear-gradient(orange , tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;

    
}
#discribe{
    color: aliceblue;
}

.section_1{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    background-image: url(./donation7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;


}
.section_2 .middle{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    margin-bottom: 50px;
}
#text{
    font-size: 40px;
}
#correction{
    width: 600px;
}
.money{
    width: 15%;
    text-align: center;
}
.border{
    border: 2px solid orangered;
    background-color: rgba(228, 76, 20, 0.452)
}
.left-width{
    width: 20%;
}
.right-width{
    width: 20%;
}
.flex{
    display: flex;
    margin-bottom: 100px;
}
#first{
    width: 25%;
}
#second{
    width: 50%;
    border-bottom: 1px solid black;
}
#third{
    width: 25%;
}
.solid-border{
    display: flex;
   
}
#input{
    text-decoration: none;
    text-align: center;
}

.bottom-help{
    text-decoration: none;
    background-image: linear-gradient(orange , tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
.set-bottom{
    text-align: center;
    margin-top: 50px;
}
.input22{
    text-align: center;
}
#font{
    font-size: 35px;
}
.story{
    text-align: center;
    margin-top: 100px;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
    margin-top: 50px;
}
.update-box{
    text-align: center;
    background-color: blanchedalmond;
    width: 50%;
    margin-left: 30%;

}
.help-education{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    text-decoration: none;
    background-color: blueviolet;
    color: white;
    border-radius: 5px;

}
.help-family{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    text-decoration: none;
    border-radius: 5px;
    background-color: cornflowerblue;
    color: white;
}
.help-food{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    text-decoration: none;
    border-radius: 5px;
    background-color: darkmagenta;
    color: white;
}
.last-part{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.726);
    padding-bottom: 20px;
    padding-top: 10px;
}
.last-font{
    font-family: 'Arima', cursive;
    font-size: 30px;
    padding-bottom: 2px;
}
#sub{
    margin-bottom: 50px;
    background-color: rgb(216, 109, 130);
}